a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.img-paws {

  width : 50px;
  height: 20 px;
  

}
.navbar {
  border-color: black;
  border-style: solid;
  border-top: 2px;
  border-left: 0 ;
  border-right: 0;
}

.pagelinks{
  text-align: center;
  border: gray;
}